<nav class="nav-sidebar">

    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand logo-text" href="">FI4P GAMES</a>
        </div>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-menu-fill-nav-menu" aria-hidden="true"></span>
            Catálogo
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="bi bi-promocao-fill-nav-menu" aria-hidden="true"></span>
            Descontos
        </NavLink>
    </div>

    <div class="perfil-footer">
        <hr />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-perfil-nav-menu"></span>
                Perfil
            </NavLink>
        </div>
    </div>

</nav>