@page "/ofertas"
@rendermode InteractiveServer
@using FiapGames.Web.Components.Shared;

<PageTitle>Ofertas</PageTitle>

<div class="header-page">
    <h1>Ofertas</h1>
    <SearchBar OnSearch="HandleSearch" Placeholder="Buscar jogo" />
</div>

<GameFilters Categorias="@categorias"
             Desenvolvedores="@desenvolvedores"
             OnFilterChanged="HandleFilterChanged" />

@code {
    private List<string> categorias = ["Ação", "RPG", "Estratégia"];
    private List<string> desenvolvedores = ["CD Projekt", "Valve", "Ubisoft"];

    private void HandleFilterChanged(GameFilterValues filtros)
    {
    }

    private void HandleSearch(string termo)
    {
    }
}